* {
  margin: 0;
  padding: 0;
}
body {
  background: rgb(68, 65, 65);
  color: #fff;
}
.crud {
  width: 80%;
  margin: auto;
}
.head {
  text-align: center;
  text-transform: uppercase;
  margin: 15px 0;
}
input {
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  background: #111;
  margin: 4px 0;
  border-radius: 4px;
  padding: 4px;
  color: #fff;
}
input:focus {
  background: #000;
  transform: scale(1.08);
}
.price input {
  width: 18%;
  margin-right: 7px;
}
small {
  background: red;
  padding: 5px 2px;
  border-radius: 4px;
}
#total::before {
  content: "Total : ";
}
button {
  width: 100%;
  height: 30px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.8s;
  margin-left: 4px;
}
button:hover {
  background: #e45252;
  letter-spacing: 1px;
  transform: scale(1.03);
}
.btnSearch {
  display: flex;
  justify-content: space-between;
}
.btnSearch button {
  width: 49%;
}
table {
  width: 100%;
  text-align: center;
  margin: 15px 0;
}
table th {
  text-transform: uppercase;
}
th,
td {
  padding: 5px;
}
#deleteAll {
  margin: 10px 0px;
}
